%div.login-block-footer
  %div.list
    =link_to "", class: "list-privacy" do
      プライバシーポリシー
    =link_to "", class: "list-riyoukiyaku" do
      メルカリ利用規約
    =link_to "", class: "list-tokuteishoutorihiki" do
      特定商取引に関する表記
  %div.login-block-footer-logo
    =link_to "" do
      = image_tag "mypage/logo_gray.svg", alt:"logo_white", class:"logo_white",width:"80px"
  %div.mercari-logo
    © 2019 Fmarket