%body.step1
  %header.step1-header
    .block-title
      =link_to root_path() do
        = image_tag "mypage/fmarket_logo_red.svg", alt:"fmarket-icon", class:"fmarket-image", width:"175px"

  .step1-block
    .step1-block-up
      %b 新規会員登録
    .step1-block-main
      .step1-block-lists
        =link_to user_registration_signup_index_path, class: "step1-block-address" do
          %i.far.fa-envelope
          メールアドレスで登録する
        =link_to "", method: :post, class: "step1-block-facebook" do
          %i.fab.fa-facebook-square
          Facebookで登録する
        =link_to "", method: :post, class: "step1-block-google", style:"" do
          = image_tag "mypage/281764.png", class:"logo_google", width:"20px"
          Googleで登録する
  = render 'footer'