.item-list
  .list-content
    - if items.present?
      -items.each do |item|
        %li
          =link_to show_user_item_item_path(item), class: "mypage-item-link" do
            %figure
              =image_tag item.images.first.src
            .mypage-item-link__body
              .mypage-item-link__body__text
                =item.name
              %div
                %span.listing-item-count
                  %i.fas.fa-heart
                  0
                %span.listing-item-count
                  %i.fas.fa-comment-alt
                  0
                .item-status-icon.awating
                  =item.status
            %i.fa.fa-chevron-right
    - else
      %li.listing-item-not-found
        %figure.mypage-item-not-found__figure
          = image_tag 'mypage/logo_gray.svg', size: '100x100'
        #{status}の商品がありません
= paginate items

  

