.bb
  = render partial: "users/show-sidebar"
  .zennbu
    .alla2
      %h1 本人情報の登録
      .llpp
      .uu00
        .llpo
        .llpo2
          %h2 お客さまの本人情報をご登録ください。
          %h2 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          .rr55
            %a{:href => "#"} 本人確認書類のアップロードについて
          .hako22
            %h3 お名前
          .hako22
            %h3 お名前カナ
          .hako22
            %h3 生年月日
          .hako22
            %h3 郵便番号
            %input.hoge3{:placeholder => "例）1234567", :size => "20", :type => "text"}/
          .hako22
            %h3 市区町村
            %input.hoge3{:placeholder => "", :size => "20", :type => "text"}/
          .hako22
            %h3 都道府県
            %input.hoge3{:placeholder => "例) 横浜市緑区", :size => "20", :type => "text"}/
          .hako22
            %h3 番地
            %input.hoge3{:placeholder => "例) 青山1−1−1", :size => "20", :type => "text"}/
          .hako22
            %h3 建物名
            %input.hoge3{:placeholder => "例) 柳ビル103", :size => "20", :type => "text"}/
          .ii2234
            %h1 登録する
          .alla23
            %a{:href => "#"} 本人情報の登録について
  

