- breadcrumb :listing_users
= render "layouts/breadcrumbs"

.mypage-main-content
  = render 'users/mypage-sidebar'

  .right-content
    %section.mypage-tab-container
      %h2.mypage-tab-head 購入した商品
      %ul.mypage-tabs.mypage-tabs--listing
        %li.active
          %h3.mypage-tabs__active__h3
            =link_to "#" do
              出品中
        %li
          %h3.mypage-tabs__inactive__h3
            =link_to "#" do
              取引中
        %li
          %h3.mypage-tabs__inactive__h3
            =link_to "#" do
              売却済み

      .mypage-content
        %ul.listing-item.active
          =render partial: "listing-item", locals: {items: @items_on_sale, status: "出品中"} 
        %ul.listing-item
          =render partial: "listing-item", locals: {items: @items_on_transaction, status: "取引中"}
        %ul.listing-item
          =render partial: "listing-item", locals: {items: @purchased_items, status: "売却済み"}
        
          


 