.mypage-main-content
  = render 'users/mypage-sidebar'

  .right-content
    %section.mypage-tab-container
      %h2.mypage-tab-head 購入した商品
      %ul.listing-tabs
        %li
          %h3.mypage-tabs__active__h3
            =link_to "#" do
              取引中
        %li
          %h3.mypage-tabs__inactive__h3
            =link_to "#" do
              過去の取引
      .tab-content
        %ul.mypage-item-list
          - if @buy_items.present?
            -@buy_items.each do |item|
              %li
                =link_to "#", class: "mypage-item-link" do
                  %figure
                    =image_tag item.images.first.image
                  .mypage-item-link__body
                    .mypage-item-link__body__text
                      =item.name
                    %div
                      %span.listing-item-count
                        %i.fas.fa-heart
                        0
                      %span.listing-item-count
                        %i.fas.fa-comment-alt
                        0
                      .item-status-icon.awating
                        =item.status
                  %i.fas.fa-chevron-right.icon-arrow-right

          - else
            %li.mypage-item-not-found
              %figure.mypage-item-not-found__figure
                = image_tag 'mypage/logo_gray.svg', size: '100x100'
              取引中の商品がありません