.index-container{
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.bx-wrapper {
  border: none !important;
}

.slider{
  height: 400px;
  img {
    background: #E7E6E2;
  }
}

// .fas.fa-chevron-left {
//   position: absolute;
//   top: 50%;
//   margin-top: -16px;
//   outline: 0;
//   width: 32px;
//   height: 32px;
//   left: 16px;
//   color: #bbb;
//   font-size: 50px;
// }
// .fas.fa-chevron-right {
//   position: absolute;
//   top: 50%;
//   margin-top: -16px;
//   outline: 0;
//   width: 32px;
//   height: 32px;
//   right: 16px;
//   color: #bbb;
//   font-size: 50px;
// }
// .bx-prev {
//   display: none;
// }
// .bx-next {
//   display: none;
// }


.popular-section{
  background-color: white;
  position: relative;
  padding: 50px 0 30px;
  width: 100vw;
  top: 0;
  left: 50%;
  margin-left: -50vw;
  &__title{
    font-size: 28px;
    font-weight: 600;
    font-family: Arial;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 62px;
  }
  &__box{
    &__menu{
      display: block;
      margin: -10px 0px 0px -10px;
      text-align: center;
      &__list{
        display: inline-block;
        margin: 10px 0 0 10px;
        &__item{
          color: black;
          text-decoration: none;
          background-color: #EFEFEF;
          font-size: 14px;
          height: 30px;
          border-radius: 10px / 10px;
          font-size: 14px;
          cursor: pointer;
          font-weight: bold;
          display: inline-block;
          padding: 8px 16px;
        }
      }
    }   
  }
}



.content{
  height: 500px;
  width: 100%;
}
