!!!
%html
  %head
    %link{href: "https://use.fontawesome.com/releases/v5.6.1/css/all.css", rel: "stylesheet"}/
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  %body
    = render 'signup/login-header'
    .l-buy-item-container
      .transact-attention
        %h3
          %i.far.fa-clock
          %span 発送をお待ちください
        %p 出品者からの発送通知をお待ちください
      %h2.l-single-head 購入が完了しました
      %form
        =link_to "マイページへ戻る", mypage_users_path
    = render 'signup/footer'
  
  