
%ul.item-card
  -items.each do |item|
    %li.item-card__item
      .visible-box
        =link_to item_path(item.id), class:"list__item-link" do
          %figure.style_card
            .thumbnail
              %span.price  
                = number_to_currency(item.price, unit: "¥", format: "%u%n", precision:0)
              =image_tag item.images.first.image
            %figcaption
              %span.fig-text 
                = item.name











            
      