.item-price-box
  %span.item-price 
    = number_to_currency(@item.price, unit: "¥", format: "%u%n", precision:0)
  %span.item-tax (税込)
  %span.item-shipping-fee 送料込み
  = link_to "#", class:"item-buy-btn" do
    購入画面に進む
.item-description
  %p.item-description-inner
    = @item.item_text
.item-button-container.clearfix
  .item-button-left
    %button.item-button.item-button-like{name: "like!", type: "button"}
      %i.far.fa-heart
      %span いいね!
      %span.fade-in-down 0
    %a.item-button.item-button-report.clearfix
      %i.fas.fa-flag-checkered
      %span 不適切な商品の報告
    %input{name: "like_add_url", type: "hidden", value: ""}/
    %input{name: "like_del_url", type: "hidden", value: ""}/
    %input{name: "__csrf_value", type: "hidden", value: ""}/
  .item-button-right
    = link_to "#", target: "_blank" do
      %i.fas.fa-lock
      %span あんしん・あんぜんへの取り組み