%ul.nav-item-link-prev-next.clearfix
  %li.nav-item-link-prev
    %i.fas.fa-chevron-left
      = link_to "#" do
        アイテム①
  %li.nav-item-link-next
    = link_to "#" do
      アイテム②
      %i.fa.fa-chevron-right