.item-social-media-box
  %ul.social-media-box
    %li
      = link_to "https://ja-jp.facebook.com/", name: "facebook_window",class:"share-btn", target: "_blank" do
        %i.fab.fa-facebook.fa-2x
    %li
      = link_to "https://twitter.com/login?redirect_after_login=%2Fhome", name: "twitter_window",class:"share-btn", target: "_blank" do
        %i.fab.fa-twitter.fa-2x
    %li
      = link_to "https://www.pinterest.jp/", name: "pinterest_window",class:"share-btn", target: "_blank" do
        %i.fab.fa-pinterest.fa-2x