.index-container
  .slider
  .popular-section
    %h2.popular-section__title
      人気のカテゴリー
    .popular-section__box
      %ul.popular-section__box__menu
        %li.popular-section__box__menu__list
          =link_to "", class: "popular-section__box__menu__list__item" do
            レディース
        %li.popular-section__box__menu__list
          =link_to "", class: "popular-section__box__menu__list__item" do
            メンズ
        %li.popular-section__box__menu__list
          =link_to "", class: "popular-section__box__menu__list__item" do
            家電・スマホ・カメラ
        %li.popular-section__box__menu__list
          =link_to "", class: "popular-section__box__menu__list__item" do
            おもちゃ・ホビー・グッズ
  .new-arrival-section
    =render partial: "item_card"
  .popular-section
    %h2.popular-section__title
      人気のブランド
    %ul.popular-section__box__menu
      %li.popular-section__box__menu__list
        =link_to "", class: "popular-section__box__menu__list__item" do
          シャネル
      %li.popular-section__box__menu__list
        =link_to "", class: "popular-section__box__menu__list__item" do
          ルイヴィトン
      %li.popular-section__box__menu__list
        =link_to "", class: "popular-section__box__menu__list__item" do
          シュプリーム
      %li.popular-section__box__menu__list
        =link_to "", class: "popular-section__box__menu__list__item" do
          ナイキ
  .new-arrival-section
    =render partial: "item_card"
  
