
%section.item-box-container
  %h1.item-name
    = @item.name
  =render 'detail'
  =render 'item-price'
=render 'item-detail-message'
=render 'prev-next'
=render 'social-media-box'
=render 'bread-crumbs'

