.step4{
  width: 100vw;
  background-color: rgb(245,245,245);
  position: relative;
  &-header{
    height: 120px;
    width: calc(100vw - 700px);
    background-color: rgb(245, 245, 245);
    display: flex;
    margin: 0 auto;
  }
  &-progress{
    height: 80px;
    width: 500px;
    margin: auto 0 0 auto;
    &-distance{
      height: 50px;
      display: flex;
      &__li{
        color: gray;
        height: 30px;
        width: 80px;
        margin-left: 20px;
        font-size: 8px;
        text-align: center;
        position: relative;
      }
      #first__li{
        color: gray;
        z-index: 10;
      }
      .ball{
        height: 12px;
        width: 12px;
        background-color: gray;
        margin: 0 auto;
        border-radius: 50%;
        z-index: 1;
        &::before{
          content: '';
          height: 2px;
          width: 50px;
          color: gray;
          position: absolute;
          bottom: 8px;
          z-index: 1;
          border-bottom: solid 1px gray;
          margin-left: 45px;
        }
        &::after{
          content: '';
          height: 2px;
          width: 50px;
          color: gray;
          position: absolute;
          bottom: 8px;
          border-bottom: solid 1px gray;
          margin-right: 45px;
          z-index: 1;
        }
        &-end{
          height: 12px;
          width: 12px;
          background-color: gray;
          margin: 0 auto;
          border-radius: 50%;
        }
      }
      #ball-first{
        background-color: $red;
        z-index: 10;
      }
      #ball-second{
        background-color: $red;
        z-index: 10;
      }
      #ball-third{
        background-color: $red;
        z-index: 10;
      }
      #ball-four{
        background-color: $red;
        z-index: 10;
      }
      #four__li{
        color: $red;
      }
      
    }
  }
  &-block{
    width: 700px;
    margin: 0 auto;
    background-color: #ffffff;
    &-up{
      height: 100px;
      text-align: center;
      line-height: 100px;
      background-color: #ffffff;
      border-bottom: solid 1px rgb(245, 245, 245);
      font-size: 22px;
      font-family: sans-serif;
    }
    &-main{
      padding: 0 40px 60px 20px;
      &-submain{
        margin: 0 auto;
        height: 100%;
        width: 50%;
        &-titlebox{
          height: 30px;
          display: flex;
          margin-top: 30px;
          &-titles{
            height: 30px;
            width: auto;
            font-size: 14px;
            line-height: 30px;
            font-weight: bold;
            color: #333333;
            }
          &-required{
            height: 20px;
            width: 30px;
            color: #ffffff;
            line-height: 20px;
            text-align: center;
            background-color: $red;
            font-size: 10px;
            margin: auto 0 auto 5px;
            border-radius: 3px;    
          }
          &-any{
            height: 20px;
            width: 30px;
            color: #ffffff;
            line-height: 20px;
            text-align: center;
            background-color: $gray;
            font-size: 10px;
            margin: auto 0 auto 5px;
            border-radius: 3px;    
          }
        }
        &-text-first{
          width: 350px;
          height: 50px;
          border-radius: 3px;
          padding: 10px;
          border: 1px solid #979797;
        }
        &-text-last{
          width: 350px;
          height: 50px;
          border-radius: 3px;
          padding: 10px;
          border: 1px solid #979797;
          margin-top: 10px;
        }
        &-address{
          background-color: $red;
          color: #ffffff;
          line-height: 50px;
          text-decoration: none;
          text-align: center;
          font-size: 15px;
          height: 50px;
          width: 350px;
          display: block;
          position: relative;
          margin-top: 30px;
        }
      }
    }
  }
}
