.credit-content
  .credit-content__title
    支払い方法
    .credit-content__index
      .credit-content__index__top
        クレジットカード一覧
  .credit-content__etc
    = link_to "#", class:"credit-content__etc__a" do
      支払い方法について >