%html
  %head
    %script{src: "https://js.pay.jp/", type: "text/javascript"}

.main-contents 
  = render 'users/show-sidebar'
  = form_tag(pay_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
    = render "card-index"
  