.login{
  min-height: 1100px;
  width: 100vw;
  background-color: rgb(245, 245, 245);
  &-header{
    height: 120px;
    background-color: rgb(245, 245, 245);
    &-title{
      height: 120px;
      width: 450px;
      margin:0 auto;
      line-height: 150px;
      text-align: center;
    }
  }
  &-block{
    width: 450px;
    min-width: 400px;
    background-color: #ffffff;
    margin: 0 auto;
    &-up{
      height: 145px;
      background-color: #ffffff;
      border-bottom: solid 1px rgb(245, 245, 245);
      &-text{
        height: 60px;
        width: 450px;
        padding: 40px 75px 0;
        text-align: center;
        font-size: 14px;
        font-family: sans-serif;
      }
      &-link{
        height: 40px;
        width: 325px;
        margin: 0 auto;
        &-address{
          background-color: #0099E8;
          color: #ffffff;
          line-height: 40px;
          text-decoration: none;
          text-align: center;
          font-size: 15px;
          height: 40px;
          width: 325px;
          display: block;
          position: relative;
        }
      }
    }
    &-main{
      padding: 30px 60px;
      &-lists{
        margin: 0 auto;
        width: 330px;
        height: 115px;
        &-facebook{
          margin-top: 15px;
          background-color: #385184;
          color: #ffffff;
          line-height: 50px;
          text-decoration: none;
          text-align: center;
          font-size: 15px;
          height: 50px;
          width: 325px;
          display: block;
          position: relative;
        }
        &-google{
          margin-top: 15px;
          background-color: #ffffff;
          border: solid 1px #979797;
          color: #333333;
          line-height: 50px;
          text-decoration: none;
          text-align: center;
          font-size: 15px;
          height: 50px;
          width: 325px;
          display: block;
          position: relative;
        }
        &-email{
          margin-top: 55px;
          width: 320px;
          height: 45px;
          &-string{
            padding: 10px;
            width: 320px;
            height: 45px;
          }
        }
        &-robo{
          margin-top: 25px;
          height: 75px;
          width: 300px;
          position: relative;
          display: flex; 
          background-color: rgb(245, 245, 245);     
          &-check{
            transform: scale(2);
            position: absolute;
            top: 30px;
            left: 30px;
          }
          &-write{
            height: 35px;
            width: 150px;
            margin: 0 auto;
            padding: 15px 0;
            font-size: 15px;
          }
        }
        &-pass{
          margin-top: 25px;
          width: 320px;
          height: 45px;
          &-string{
            padding: 10px;
            width: 320px;
            height: 45px;
          }
        }
        &-box{
          height: 50px;
          width: 330px;
          margin-top: 25px;
          &-btn{
            width: 100%;
            height: 100%;
            color: #ffffff;
            background-color: #ea532d;
          }
        }
        &-remember{
          height: 16px;
          padding: 34px 0 60px;
          font-size: 14px;
        }
      }
    }
  }
}

.fmarket-image:hover{
  opacity: 0.75;
}


.mercari-logo{
  text-align: center;
  font-size: 12px;
}

.logo_white:hover{
  opacity: 0.75;
}

.logo_google{
  position: absolute;
  left: 15px;
  top: 17px;
}

.fab.fa-facebook-square{
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 30px;
}