.alla{
  width: 700px;
  height: 570px;
  background-color: #fff;
  padding-top: 15px;
  
  }
  .alla h1{
    font-family:Source Sans Pro;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    margin-bottom: 15px;
    }
  .xxxx img{
    width: 702px;
    height: 157px;
  }
  .xxxx{
    position: relative;
  }
  .xxxx2{
    position: absolute;
    display: flex;
    top: 70px;
    left: 205px;
  }
  .xxxx2 img{
    width: 60px;
    height: 60px;
  }
  input.hoge { width: 222px;
    height: 50px;
   margin-left: 5px;
   border-radius: 7px;
    border: solid 1px #CCCCCC;
    }
   
    input.hoge2 {  margin-top: 40px;
      width: 670px; height: 215px;
     
      margin-left: 17px;
      
      border: solid 1px #CCCCCC;
    }
  
    .ii223{
      width: 670px;
      height: 50px;
      background-color: #EA342D;
      margin-left: 17px;
      margin-top: 15px;
    }
    .ii223 h1{
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      padding-top: 18px;
    }
   
    .alla2  textarea{
      width: 670px;
      height: 215px;
      
      margin-left: 17px;
      margin-top: 15px;
    }
   ::placeholder{
    font-size: 16px;
    font-weight: 400;
    }
    .bb{
      display: flex;
      margin-top: 40px;
      margin-left: 210px;
    }
    .alla2 {
      width: 700px;
      height: 570px;
      background-color: #fff;
      padding-top: 15px;
    }
    .alla23 a{
    padding-left: 412px;
    
    }
    
    .alla2 h1 {
      font-family: Source Sans Pro;
      font-size: 24px;
      font-weight: 700;
      color: #333333;
      text-align: center;
      margin-bottom: 15px;
    }
    
    .alla2 h2 {
      font-family: Source Sans Pro;
      font-size: 14px;
      font-weight: 400;
      color: #333333;
    }
    
    .llpp{
      border: solid 0.6px #CCCCCC;
      width: 704px;
      margin-bottom: 75px;
    }
    
    .llpo {
      width: 65px;
      height: 1156px;
    }
    
    .uu00 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    
    .rr55 a {
      font-family: Source Sans Pro;
      font-size: 14px;
      font-weight: 400;
      color: #333333;
    }
    
    .rr55 {
      margin: 10px;
      margin-left: 330px;
    }
    
    .hako22 {
      margin-top: 40px;
    }
    
    
    .hako22 h3 {
      font-size: 14px;
      font-weight: 600;
    }
    
    .ii2234 {
      width: 575px;
      height: 50px;
      background-color: #EA342D;
      margin-top: 15px;
      margin-bottom: 40px;
    }
    
    .ii2234 h1 {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      padding-top: 18px;
    }
    
    
    input.hoge3 {
      width: 575px;
      height: 50px;
      margin-left: 5px;
      border-radius: 7px;
      border: solid 1px #CCCCCC;
    
    }
    
    
    
    ::placeholder {
      font-size: 16px;
      font-weight: 400;
    }
    .zennbu{
      width: 700px;
      height: 1208px;
      background-color: #fff;
    }
    