.signup{
  background-color: rgb(245, 245, 245);
  height: 230vh;
  width: 100vw;
  position: relative;
  &-header{
    height: 120px;
    width: calc(100vw - 700px);
    background-color: rgb(245, 245, 245);
    display: flex;
    margin: 0 auto;
    .title{
      height: 50px;
      width: 50px;
      line-height: 150px;
      &-image:hover{
        opacity: 0.75;
      }
    }
    .progress{
      height: 80px;
      width: 500px;
      margin: auto 0 0 auto;
      &-distance{
        height: 50px;
        display: flex;
        &__li{
          height: 30px;
          width: 80px;
          margin-left: 20px;
          font-size: 8px;
          text-align: center;
          position: relative;
        }
        #first__li{
          color: $red;
          z-index: 10;
        }
        .ball{
          height: 12px;
          width: 12px;
          background-color: gray;
          margin: 0 auto;
          border-radius: 50%;
          z-index: 1;
          &::before{
            content: '';
            height: 2px;
            width: 50px;
            color: gray;
            position: absolute;
            bottom: 8px;
            z-index: 1;
            border-bottom: solid 1px gray;
            margin-left: 45px;
          }
          &::after{
            content: '';
            height: 2px;
            width: 50px;
            color: gray;
            position: absolute;
            bottom: 8px;
            border-bottom: solid 1px gray;
            margin-right: 45px;
            z-index: 1;
          }
          &-end{
            height: 12px;
            width: 12px;
            background-color: gray;
            margin: 0 auto;
            border-radius: 50%;
          }
        }
        #ball-first{
          background-color: #ea532d;
          z-index: 10;
        }
      }
    }
  }
  .block{
    height: 1400px;
    width: 700px;
    min-width: 400px;
    background-color: #ffffff;
    margin: 0 auto;
    &-up{
      height: 100px;
      background-color: #ffffff;
      text-align: center;
      line-height: 100px;
      border-bottom: solid 1px rgb(245, 245, 245);
      font-size: 22px;
      font-family: sans-serif;
    }
    &-main{
      height: 50%;
      padding: 0 40px 60px 20px;
    }
    &-submain{
      margin: 0 auto;
      height: 100%;
      width: 50%;
    }
    &-footer{
      height: calc(100vh - 620px);
      padding: 70px 550px 30px;
    }
    &-logo{
      height: 70px;
      width: 70px;
      padding: 60px 130px 0;
      margin: 0 auto;
    }
  }
}
.block-texts{
  height: 50px;
  width: 100%;
}

.text{
  height: 25px;
  width: 300px;
  border-radius: 5px;
  border: solid 1px #979797;
  padding: 10px;
}

.text:focus{
  border: solid 1px blue;
  outline: 0;
}

.chk-box{
  margin-top: 15px;
  height: 24px;
  display: flex;
}

.check_box{
  transform: scale(1.5);
  margin-top: 3px;
  outline: none;
}

.message-box{
  display: flex;
  margin-left: 10px;
}

.block-titlebox{
  height: 30px;
  display: flex;
  margin-top: 30px;
}

.block-titles{
  height: 30px;
  width: auto;
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
}

.block-required{
  height: 20px;
  width: 30px;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
  background-color: $red;
  font-size: 10px;
  margin: auto 0 auto 5px;
  border-radius: 3px;
}

.block-confirmation{
  height: 20px;
  font-weight: bolder;
  margin-top: 20px;
  color: #3D3D3D;
  background-repeat: none;
}

.block-confirmation__details{
  height: auto;
  margin: 10px 0 30px;
  font-size: 14px;
  color: #979797;
}

.mercari-logo{
  text-align: center;
  font-size: 12px;
}

.block-name{
  height: 50px;
  display: flex;
  line-height: 50px;
}

.block-name-kana{
  height: 50px;
  display: flex;
}

.block-name-text{
  height: 25px;
  width: 135px;
  padding: 10px;
  border: solid 1px #979797;
  border-radius: 3px;
}

.block-name-text:focus{
  border: solid 1px blue;
  outline: 0;
}

#last_name,#last_name_kana{
  margin-left: 10px;
}

.block-year-month-day{
  height: 50px;
  width: 25px;
  line-height: 50px;
  text-align: center;
}

select{
  width: 76px;
  padding: 0 10px;
}

.block-robo{
  margin-top: 30px;
  height: 75px;
  width: 330px;
  background-color: rgb(245, 245, 245);
  position: relative;
  display: flex;
}

.block-robotto-check{
  transform: scale(2);
  position: absolute;
  top: 30px;
  left: 30px;
}

.block-robo-write{
  height: 35px;
  width: 150px;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 15px;
}

.block-caution{
  margin: 30px 0 60px;
  height: 20px;
  font-size: 13px;
  text-align: center;
}

.block-address{
  background-color: $red;
  color: #ffffff;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  height: 50px;
  width: 350px;
  display: block;
  position: relative;
}

.block-master{
  height: 12px;
  margin-top: 30px;
  font-size: 14px;
  text-align: right;
  width: 350px;
}


.list{
  height: 20px;
  display: flex;
  justify-content: space-between;

  &-privacy{
    height: 20px;
    font-size: 8px;
    color: #333333;
    text-decoration: none;
    min-width: 110px;
    min-height: auto;
  }

  &-riyoukiyaku{
    height: 20px;
    font-size: 10px;
    color: #333333;
    text-decoration: none;
    min-width: 110px;
    min-height: auto;
  }

  &-tokuteishoutorihiki{
    height: 20px;
    font-size: 10px;
    color: #333333;
    text-decoration: none;
    min-width: 110px;
    min-height: auto;
  }
}

.mercari-logo{
  font-size: 11px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo_white:hover{
  opacity: 0.75;
}

.logo_google{
  position: absolute;
  left: 15px;
  top: 17px;
}

.far.fa-envelope{
  position: absolute;
  left: 15px;
  top: 17px;
  font-size: 20px;
}

.fab.fa-facebook-square{
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 30px;
}