// ビュー共通のCSS
*{
  box-sizing: border-box;
}
body{
  background-color: rgb(245, 245, 245);
  position: relative;
}
.camera{
  align-items: center;
  float: right;
  position: fixed;
  bottom: 32px;
  right: 30px;
  z-index: 2;
}
.camera img{
  width: 170px;
  z-index: 2;
}

// headerのCSS
header{
  background-color: white;
}
.header-inner{
  width: 1020px;
  margin: 0 auto;
  padding-top: 8px;

  &__upper{
    display: flex;
    justify-content: space-between;

    .site-logo{
      margin-right: 45px;

      img{
        width: 134px;
        height: 36px;
      }
    }

    .search-form { 
      width: 100%;
      position: relative;

      &__input{
        width: 100%;
        height: 40px;
        padding:0 50px 0 10px;
        background-color: #F5F5F5;
        border-radius: 4px;
        border: solid 1px #CCCCCC;
        font-size: 16px;
      }

      &__btn{
        position: absolute;
        height: 40px;
        width: 40px;
        right: 0;
        top: 0;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        background-color: transparent;
        border-style: none;
      }
    }
  }

  &__lower{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    &__left{
      display: flex;

      .search-list{
        display: flex;
        margin-right: 20px;
        cursor: pointer;

        &__logo img{
          width: 25px;
        }

        &__title h2{
          font-size: 14px;
          font-weight: 600;
          margin-top: 5px;
        }
      }
    }

    &__right{

      .mypage-menu{
        display: flex;
        justify-content: space-between;


        &__list{
          padding: 0 15px;

          a{
            text-decoration: none;
            color: rgb(51, 51, 51);
            font-size: 14px;
            cursor: pointer;
            height: 32px;
          }

          i{
            margin-right: 10px;
            color: rgb(204, 204, 204);
          }

          &:last-child img{
            height: 25px;
            width: 25px;
            border-radius: 50%;
            overflow: hidden;
            vertical-align: middle;
          }
        }
      }


      .login-btns{
        display: flex;
        justify-content: space-between;
        height: 33px;
        line-height: 33px;

        &__btn{
          cursor: pointer;
          display: block;
          border-radius: 5px;
          text-decoration: none;
          text-align: center;
          font-size: 14px;

          &--signup{
            width: 106px;
            background-color: #EA352D;
            color: #ffffff;
            
          }

          &--login{
            width: 75px;
            border: solid 1px #0195EE;
            color:  #0195EE;
            margin-left: 10px;
            transition: 0.3s linear;

            &:hover{
              background-color: #0195EE;
              color: white;
            }
          }
        }
      }
    }
  }
}


// footerのCSS
.app-banner{
  // position: relative;
  img{
    width: 100%;
    z-index: 1;
   display: block;
  }
 }

.footer-inner{
  background-color: #212121;
  padding: 0 20px 10px;
  a{
    color: white;
    text-decoration: none;
  }

  .nav{
    width: 1020px;
    margin: 0 auto;
    display: flex;
  
    .nav-box{
      margin-top: 18px;
      display: inline-block;
      padding-right: 40px;
      width: auto;
  
      &--2rows{        
        width: 43%;
      }

      &--small{
        display: inline-block;
        vertical-align: top;
        width: 49%;
        padding-left: 10px;
        &:first-of-type{
          padding: 0 10px 0 0;
        }
      }
  
      &__title{
        font-weight: 600;
        font-size: 16px;
        color: white;
      }
      
      .nav-lists{

        &__item{
          margin-top: 13px;
          font-size: 12px;
          opacity: 0.7;
        }
      }
  
  
      .sns-logos{
        margin-top: 30px;
        img{
          height: 35px;
          width: 80px;
        }
       }
  
    }
  }
  
  .copy-right{
    align-items: center;
    display: flex;
    width: 1020px;
    margin: 30px auto 20px;
    color: white;

    .meru-logo img{
      width: 130px;
    }
  
    .copy-letter{
      text-align: center;
      width: 75%;
      font-size: 12px;
    }
  }
  
}
 




