.mypage-item-list{


  li{
    list-style: none;
    position: relative;
    border-bottom: 1px solid #eee;

    &:first-child{
      border-bottom: 1px solid #eee;
    }


    .mypage-item-link{
      min-height: 80px;
      padding: 15px;
      color: #333;

      figure{
        position: relative;
        overflow: hidden;
        float: left;
        width: 55px;
        height: 55px;

        img{
        z-index: 1;
        width: 100%;
        vertical-align: middle;
        }
      }

      &__body{
        margin: 0 100px 0 68px;


        &__text{
          overflow: hidden;
          display: block;
          max-height: 4.4em;
          text-overflow: ellipsis;
          line-height: 1.5;
        }

        .listing-item-count i{
          vertical-align: middle;
          color: #ccc;
        }
        .item-status-icon{
          display: inline-block;
          margin: 8px 0 0 0;
          padding: 5px 6px;
          border-radius: 2px;
          font-size: 12px;
          color: #fff;
        }

        .awating{
          background-color: #0099e8;
        }
      }

      .icon-arrow-right{
        position: absolute;
        top: 50%;
        right: 16px;
      }
    }
  }
}


