a{
  text-decoration: none;
}

.mypage-main-content {
  margin: 40px auto 0;
  padding: 0 0 40px;
  width: 1020px;
  height: 100vw;
  .right-content { 
    width: 700px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    float: right;
    .user-info {
      position: relative;
      display: flex;
      height: 200px;
      text-align: center;
      .back-image {
        width: 700px;
        height: 200px;
      }
      a{
        display: block;
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;
        color: #333;
      }
      figure{
        overflow: hidden;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
      }
      .bold {
        margin: 8px 0 0;
        font-size: 14px;
        font-weight: 600;
      }
      &__user-rate {
        margin: 8px 0 0;
        font-size: 0;
        &__review {
          display: inline-block;
          font-size: 14px;
          margin: 0 0 0 8px;
        }
        span{
          margin: 0 0 0 8px;
          font-size: 14px;
          font-weight: 600;
        }
        &__exhibit {
          margin: 0 0 0 16px;
          font-size: 14px;
          display: inline-block;
        }
      }
    }


    .mypage-tab-container-todo {
      padding: 0px;
      margin: 0;
      background: #fff;
      .mypage-tabs{
        border: 0;
        list-style: none;
        font-size: 0;
        display: block;
        li {
          width: 50%;
          @include tab-list
        }
        h3 {
          font-weight: bold;
          font-size: 22px;
        }
        a {
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
          text-decoration: none;
        }
          
        .active{
          border-top: 2px solid $red;
          background: #fff;
        }
      }
    }
    .mypage-content {
      display: block;
      .mypage-item {
        display: none;
        &__li {
          border-bottom: 1px solid #eee;
          position: relative;
          &__a {
            display: block;
            min-height: 60px;
            padding: 16px;
            color: #333;
            text-decoration: none;
            touch-action: manipulation;
            &__figure {
              position: relative;
              overflow: hidden;
              float: left;
              width: 48px;
              height: 48px;
              margin:0;
            }
            .mypage-item-body{
              margin: 0 40px 0 68px;
              &__text {
                overflow: hidden;
                max-height: 4.4em;
                text-overflow: ellipsis;
                line-height: 1.5;
                font-size: 14px;
              }
              &__time {
                display: inline-block;
                color: #888;
                font-size: 14px;
                i{
                  margin: 0 8px 0 0;
                  display: inline-block;
                  font-style: normal;
                  font-weight: 400;
                  font-variant: normal;
                  text-transform: none;
                  line-height: 1;
                }
                span{
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }

      .fa-chevron-right{
        position: absolute;
        top: 50%;
        right: 16px;
      }

      .listing-item{
        display: none;
        li{
          list-style: none;
          position: relative;
          border-bottom: 1px solid #eee;
          background: #fff;
        
          .mypage-item-link{
            min-height: 80px;
            padding: 15px;
            color: #333;
            figure{
              position: relative;
              overflow: hidden;
              float: left;
              width: 55px;
              height: 55px;
              margin: 20px;
              img{
              z-index: 1;
              width: 100%;
              vertical-align: middle;
              }
            }
      
            &__body{
              margin: 0 100px 0 68px;
      
              &__text{
                overflow: hidden;
                display: block;
                max-height: 4.4em;
                text-overflow: ellipsis;
                line-height: 1.5;
              }
              .listing-item-count i{
                vertical-align: middle;
                color: #ccc;
              }
              .item-status-icon{
                display: inline-block;
                margin: 8px 0 0 0;
                padding: 5px 6px;
                border-radius: 2px;
                font-size: 12px;
                color: #fff;
              }
              .awating{
                background-color: #0099e8;
              }
            }
          }
        }
      }
      .listing-item.active {
        display: block;
      }

      .mypage-go-list {
        border: 0;
        position: relative;
        padding: 16px;
        .go {
          display: block;
          height: 60px;
          margin: 0 auto;
          background: #eee;
          color: #333;
          line-height: 60px;
          text-align: center;
          text-decoration: none;
          touch-action: manipulation;
        }
      }
      .mypage-item.active {
        display: block;
      }
    }

    .mypage-tab-container{
      padding: 40px 0 0;
      background: #f5f5f5;
      list-style: none;
      .mypage-tab-head {
        background: #fafafa;
        line-height: 72px;
        padding: 0 16px;          
        font-size: 100%;
        display: block;
        margin-block-start: 0.83em;
        font-weight: bold;
      }
     
      .mypage-tabs {
        border: 0;
        font-size: 0;
        display: block;
        li{
          width: 50%;
          @include tab-list
        }
        &--listing{
          li{
            width: 33%;
            @include tab-list
          }
        }

        .active{
          border-top: 2px solid $red;
          background: #fff;
        }
        h3 {
          font-weight: bold;
        }
        a {
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
          text-decoration: none;
        }
      }
      .mypage-item-list {
        background-color: white;

        li{
          display: none;
          padding: 60px 0 60px;
          background-repeat: no-repeat;
          background-position: center 40px;
          background-size: 200px 100px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
          font-weight: 600;
          figure {
            margin: auto;
          }
        }
        .active {
          display: block;
        }
      }

      .listing-item-not-found{
        padding: 60px 0 60px;
        background-repeat: no-repeat;
        background-position: center 40px;
        background-size: 200px 100px;
        text-align: center;
        font-size: 16px;
        color: #ccc;
        font-weight: 600;
        figure {
          margin: auto;
        }
      }
    }  
  } 
}
