%footer
  .footer-inner   
    .nav
      .nav-box
        %h2.nav-box__title メルカリについて
        %ul.nav-lists
          %li.nav-lists__item
            =link_to "" do
              会社概要（運営会社）
          %li.nav-lists__item
            =link_to "" do
              採用情報
          %li.nav-lists__item
            =link_to "" do
              プレスリリース
          %li.nav-lists__item
            =link_to "" do
              公式ブログ
          %li.nav-lists__item
            =link_to "" do
              メルカリロゴ利用ガイドライン
        .sns-logos
          =image_tag "top_page/oo.png"
        

      .nav-box
        %h2.nav-box__title ヘルプ＆ガイド
        %ul.nav-lists
          %li.nav-lists__item
            =link_to "" do
              メルカリガイド
          %li.nav-lists__item
            =link_to "" do
              らくらくメルカリ便
          %li.nav-lists__item
            =link_to "" do
              ゆうゆうメルカリ便
          %li.nav-lists__item
            =link_to "" do
              大型メルカリ便
          %li.nav-lists__item
            =link_to "" do
              車体取引ガイド
          %li.nav-lists__item
            =link_to "" do
              メルカリあんしん・あんぜん宣言！
          %li.nav-lists__item
            =link_to "" do
              偽ブランド品撲滅への取り組み
          %li.nav-lists__item
            =link_to "" do
              メルカリボックス

      .nav-box.nav-box--2rows
        %h2.nav-box__title プライバシーと利用規約

        .nav-box--small
          %ul.nav-lists
            %li.nav-lists__item
              =link_to "" do
                プライバシーポリシー
            %li.nav-lists__item
              =link_to "" do
                メルカリ利用規約
            %li.nav-lists__item
              =link_to "" do
                あんしんスマホサポート制度に関する利用特約
            %li.nav-lists__item
              =link_to "" do
                コンプライアンスポリシー       
        .nav-box--small     
          %ul.nav-lists
            %li.nav-lists__item
              =link_to "" do
                個人データの安全管理に係る基本方針
            %li.nav-lists__item
              =link_to "" do
                特定商取引に関する表記
            %li.nav-lists__item
              =link_to "" do
                資金決済法に基づく表示
            %li.nav-lists__item
              =link_to "" do
                法令順守と犯罪抑止のために

      .nav-box
        %h2.nav-box__title 国
        %ul.nav-lists
          %li.nav-lists__item
            =link_to "" do
              日本
          %li.nav-lists__item
            =link_to "" do
              United States

    .copy-right
      =link_to "", class: "meru-logo" do
        =image_tag "top_page/oo2.png"

      %span.copy-letter © 2019 Mercari
        

